.page{
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
    > section {
        //border-left: 1px solid var(--t-border-color);
        //border-right: 1px solid var(--t-border-color);
        background: var(--content-background-color);
        flex: 1 1 auto;
        overflow-y: auto;
        max-width: 100%;
        overflow-x: hidden;
        //padding: var(--t-content-padding);
        display: flex;
        flex-direction: column;
        > *{
            padding:12px;
        }
    }
    color: var(--t-font-color);
}

.tl-responsive-panel{
    display: flex;
    .col-3{
        margin-right: 12px;
    }
    .col{
        overflow: hidden;
    }
}
