:root{
  --tv-default-section-padding:12px;
  --tv-default-margin: 6px 12px;
  --tv-default-full-margin: 12px;
  --tv-default-padding: 6px 12px;
}
::-webkit-scrollbar{
  background: #efefef;
}
*{
  box-sizing:border-box;
}

// Reset odstępów
.tc,
.tl,
.tl > .tc,
.tl-grid > div,
.tl-stack > div,
.tl-split > div,
.row > *
{
  margin: 0;
  padding: 0;
}
.page > section > *{
  margin:0;
  padding: 0;
}


.tc-tabs > section,
.page > section,
.tc-group > section,
.ts-modal > .tw-modal > .page > section
{
 padding: var(--tv-default-section-padding);
}
.tl-formgroup,
.tl-formcheck,
.tl-formswitch,
.te-search,
.tc,
.td,
section> .tc-tabs,
.tp-text{
  margin: var(--tv-default-margin);
}
.page > section > .tc-workspace{
  margin: var(--tv-default-full-margin);
  height: calc(100% - calc(var(--tv-default-full-margin) * 2));
}
.tc-tabs{
  height: calc(100% - var(--tv-default-full-margin))!important;
}
.tc-workspace-it > .tc-tabs,
.tc-workspace > .tc-tabs{
  height: 100%!important;
}
@media only screen and (max-width: 1360px){
  .tc-tabs{
    height: 100%!important;
  }
}
.tc-workspace-it > .tc-tabs{
  margin:0;
}
.tc-workspace > .tc-tabs,
.td-filedropzone{
  /*height: calc(100% - 12px)!important;*/
  margin:0;
}

.tc-group-header{
  padding: 6px 24px;
  margin: 6px -12px;
}
.tp-label{
  margin: 0px;
}
.tl-buttons{
  padding: var(--tv-default-padding);
}
.tl-formgroup > .tl-buttons{
  padding:0;
}
.tl-formgroup .tc-input-group{
  margin: 0;
}
/*.tc-workspace:has(> .tc-tabs) .tc-tabs .tc-tabs{
  margin-top: 0 !important;
  margin-left: 0;
  margin-right: 0;
}*/
.te-search{
  width: calc(100% - 24px)!important;
}
section:has(>.tf-noborder){
  padding: 0;
}
.tc-workspace section > .tc-tabs.tf-noborder{

}

div:not(.tl) > .tp:not(.tp-image,.tp-button){
  margin: var(--tv-default-margin);
}
.tp-image{
  padding: var(--tv-default-margin);
}
.te-color,
.te:not([type=checkbox]),
.te{
  font-size: var(--t-font-size);
}

.tw-modal .tc-tabs.tf-noborder{
  margin:calc(var(--tv-default-full-margin) * -1)!important;

  &::after{
    display: none;
  }
  > section{
    border-bottom: none;
  }
}

.tw-popup{
  .td{
    margin:0;
  }
}

iframe{
  max-height: calc(100% - var(--tv-default-full-margin));
}

div:not(.tl-formgroup) > .te-textarea{
  margin: var(--tv-default-margin);
  max-width: calc(100% - calc(var(--tv-default-full-margin) * 2));
}

/*:root{  
  --tv-default-margin: 6px 12px;
  --tv-default-padding: 6px 12px;
  --tv-large-padding: var(--tv-default-padding);
}

// Reset odstępów
.tc,
.tc-tabs,
.tc-group-header,
.tl,
.tl > .tc,
.tl-grid > div,
.tl-grid > div > div,
.tl-grid > div > div > .tc:not(.tc-group-header,.tc-group),
.tl-grid > div > div > .tl:not(.tl-formgroup),
.tl-stack > div,
.tl-stack > div > .tc:not(.tc-group-header,.tc-group),
.tl-stack > div > .tl:not(.tl-formgroup),
.tl-split > div,
.page > section > *
{
  margin: 0;
  padding: 0;
}

// Co jest kontenerem
.tc,
.tc-tabs > section,
.page > section
{
 padding: 12px;
}

// Co jest w układzie
.tl-stack > div > *,
.tl-grid > div > div > *
{
 margin: var(--tv-default-margin); // calc(var(--tv-default-margin) / 2) 
}


// dodatkowy reset


.tl-formgroup {
  margin-top:0 !important;
}

.tl-formgroup .tl-grid > div > div > *{
  margin:0;
}
// Co nie jest układem




*/
/*
:root{

    --t-base-offset: 12px;
    --t-half-base-offset: calc(var(--t-base-offset) / 2);
  
    --t-base-offset-negative: calc(var(--t-base-offset) * -1);
    --t-half-base-offset-negative: calc(calc(var(--t-base-offset) / 2) * -1);
  
    --t-base-form-offset: 12px;
    --t-half-base-form-offset: calc(var(--t-base-form-offset) / 2);

    --t-base-form-offset-negative: calc(var(--t-base-form-offset) * -1);
    --t-half-base-form-offset-negative: calc(calc(var(--t-base-form-offset) / 2) * -1);
  
    --t-label-offset: 0px;
    --tv-workspace-sp: 12px;


  }
  
  ::-webkit-scrollbar{
    background: #efefef;
  }
  section{
    padding: 0!important;
  }
  .tl:not(.tl-stack, .tl-grid,.tl-split),
  .tn:not(.tn-ribbon, .tn-ribbon .tn, .tn-ribbon-status,.tn-toolbox,.tn-navmenu,.tn-pagination)
  {
    padding: var(--t-base-offset);
  }
  .tc-group,
  div:not(.tc-workspace-it) >.tc-tabs,
  .te-search,
  .tp:not(.tp-label,.tp-image,.tp-button,.tp-badge,.tp-text){
    margin:var(--t-base-offset);
  }
  .td{
    padding:var(--t-base-offset);
  }
  .tp:not(.tp-label,.tp-button,.tp-badge,.tp-text,.tp-progress){
    display: block;
    padding:var(--t-base-offset);
  }
  .tl-stack > *,
  .tl-stack,
  .tl-split > *,
  .tl-split,
  .row,
  div.tc-workspace > .tc-tabs{
    margin:0;
    padding: 0;
  }
  .tc-group-header{
    margin:0!important;
  }
  .col, div[class^="col-"]{
    margin:0;
    padding:0;
  }
  div:not(.tl-formgroup) > .te:not(.te-timespan, .te-check,  .te-search,.te-text,.te-textarea,.te-lookup, .te-date){
    padding: var(--t-half-base-offset);
  }
  .tl > .tl{
    padding:0px;
  }
  .tc-workspace section >.tc-tabs.tf-noborder{
    margin:0!important;
  }
  
  .te-search{
    width:calc(100% - calc(var(--t-base-offset) * 2))!important;
  }
  .tl-formcheck input[type=checkbox] {
    margin-left: 0;
    margin-right: var(--t-base-offset);;
  }
  .tl-formcheck{
    margin-bottom: 0;
  }
  div.tl > div:not(:empty) > .tl:not(.tl-grid, .tl-split, .tc-tabs){
     padding-top: var(--t-half-base-form-offset);
     padding-bottom: var(--t-half-base-form-offset);
   }
   div.tl > div:not(:empty):first-child > .tl:not(.tl-grid, .tl-split, .tc-tabs){
     padding-top: var(--t-base-offset);
   }
    div.tl > div:not(:empty):last-child > .tl:not(.tl-grid, .tl-split, .tc-tabs){
     padding-bottom: var(--t-base-offset);
   }
  

 
  div.tl-grid > .row:not(:empty):first-child > div[class^="col-"]  .tl:not(.tl-stack, .tl-grid, .tl-split, .tc-tabs){
    padding-top: var(--t-base-offset);
  }
  div.tl-grid > .row:not(:empty):last-child > div[class^="col-"]  .tl:not(.tl-stack, .tl-grid, .tl-split, .tc-tabs){
    padding-bottom: var(--t-base-offset);
  }

  div.tl-grid > .row:not(:empty) > div[class^="col-"] .tl:not(.tl-stack, .tl-grid, .tl-split, .tc-tabs){
    padding-top: var(--t-half-base-form-offset)!important;
    padding-bottom: var(--t-half-base-form-offset)!important;
  }

  .tl-stack > div > .tl-formgroup{
    padding-top: var(--t-half-base-form-offset)!important;
    padding-bottom: var(--t-half-base-form-offset)!important;
  }
  .tl-stack > div:not(:empty):first-child > .tl-formgroup{
    padding-top: var(--t-base-offset)!important;
  }
  .tl-stack > div:not(:empty):last-child > .tl-formgroup{
    padding-bottom: var(--t-base-offset)!important;
  }
    
  div.tl-grid > .row:not(:empty) > div[class^="col-"] > .tc-group,
  div.tl-grid > .row:not(:empty) > div[class^="col-"] > .tc-tabs{
    margin-top: var(--t-half-base-offset);
    margin-bottom: var(--t-half-base-offset);
  }
  div.tl-grid > .row:not(:empty):first-child > div[class^="col-"]  > .tc-group{
    margin-top: var(--t-base-offset);
  }
  div.tl-grid > .row:not(:empty):last-child > div[class^="col-"] > .tc-group{
    margin-bottom: var(--t-base-offset);
  }
  
  
  .tp-text{
    display: flex;
    padding: var(--t-half-base-offset) var(--t-base-offset);
    margin-bottom:0;  
  }
  .tp-label{
    margin: var(--t-label-offset);
  }
  
  .tl-stack > div > .te-search{
  margin-bottom: 0;
  }
  
  .ts-modal .tc-tabs.tf-noborder{
    margin-top: 0 !important;;
  }
  .ts-modal .tc-tabs.tf-noborder > section{
    border-bottom:0;
  }
  div:not(.tl-formgroup) > .te-textarea{
    margin: var(--t-half-base-offset) var(--t-base-offset);
    width: -webkit-fill-available;
    width: fill-available;
  }
  .tl-stack > * {
    margin-bottom: 0!important;
  }
  .tl-split-panel{
    padding:0!important;
  }

  .tc-group-header + .tl-grid, .tc-group-header + .tl-stack {
    padding: 12px;
}
.tl-grid > div .tl-grid > div{
  margin-bottom:0px;
}
*/