
::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}


::-webkit-scrollbar-track{
    background: transparent;
}
/*::-webkit-scrollbar-thumb {
    background: transparent;
  }*/
::-webkit-scrollbar-thumb{
    background: #ddd!important;
  }

::-webkit-scrollbar-thumb:hover {
    background: #d0d0d0!important;
  }

  @supports (-moz-appearance:none) {
    .tw {
        aside{
            scrollbar-width: thin;
        }
    } 
}


/* aside scroll fix*/
// .tw > aside::-webkit-scrollbar-track {
//     background: var(--nav-background-color)!important;
// }
// .tw > aside::-webkit-scrollbar-thumb{
//     background-color: #525a7c!important;
// }
// .tw > aside::-webkit-scrollbar-thumb:hover {
//     background: #5c658b!important;
// }