
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-track{
    background: transparent;
}
/*::-webkit-scrollbar-thumb {
    background: transparent;
  }*/
::-webkit-scrollbar-thumb{
    background: #d2d2d2!important;
    border-radius: 12px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #8b8b8b!important;
  }

  @supports (-moz-appearance:none) {
    .tw {
        aside{
            scrollbar-width: thin;
        }
    } 
}
html[data-bs-theme="dark"]{
    ::-webkit-scrollbar-thumb{
    background: #464646!important;
  }

::-webkit-scrollbar-thumb:hover {
    background: #525252!important;
  }
}

/* aside scroll fix*/
// .tw > aside::-webkit-scrollbar-track {
//     background: var(--nav-background-color)!important;
// }
// .tw > aside::-webkit-scrollbar-thumb{
//     background-color: #525a7c!important;
// }
// .tw > aside::-webkit-scrollbar-thumb:hover {
//     background: #5c658b!important;
// }