div.page > header {
    padding: 8px 0px;
    flex: 0 1 40px;
    background: #fafafa;
    min-height: 40px;
    border-bottom: 1px solid var(--t-border-color);
    display: flex;
    span,
    div {
        @extend .text-center;
        color: #6c757d;
        font-size: var(--t-font-size);
    }
    span{
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .tn-toolbox{
        display: flex;
        align-items: center;   
        button {
            display: flex;
            border:none;
            &:active,
            &:focus,
            &:focus-visible{
                outline: none!important;
                border: none!important;
                box-shadow: none!important;
            }
        }
    }
}