.tn-pagination{
    ul{
        @extend .pagination;
        margin-bottom: 0;
        li{
            //@extend .page-item;
            border:none;
            &.tf-active{
                a{
                    color: #fff;
                    background-color: #206bc4;
                    border-color: #206bc4;
                    border-radius: 4px;
                }
            }
            a{
                @extend .page-link;
                color: #6e7582;
                border:none;
                background-color: inherit;
                padding: 2px 8px;
                &:hover{
                    border: none;
                }
                &:focus{
                    color: #6e7582;
                    background-color: inherit;
                    outline: 0;
                    box-shadow: none;
                }
            }

        }
    }
}