.td-datagrid {
    overflow-x: hidden;
    flex: 1 0 auto;
    margin-bottom: 1em;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -webkit-touch-callout: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &:last-child {
        //margin-bottom: 0px;
    }
    > section {
        overflow: auto;
        > table {
            background-color: var(--t-background-color);
            @extend .table-bordered;
            margin-bottom: 0px;
            color: var(--t-font-color);
            & i {
                color: rgb(70, 70, 70);
            }
            > tbody {
                box-shadow: 3px 3px 5px 0px #d1d1d1;
                /*&:nth-child(2n) {
                    tr,
                    td {
                        background-color: rgb(243, 243, 243) !important;
                    }
                }*/
                /*&:hover {
                tr,
                td {
                    background-color: rgb(209 209 209 / 15%) !important;
                }
                }*/
                tr {
                    background-color: #fff;
                }
                + tbody::before {
                    // display: block;
                    // height: 1rem;
                    // position: relative;
                    // content: "";
                }
                .td-datagrid-sr {
                    /*background-color: #f7f7f7 !important;*/
                }
                &.td-datagrid-rs {
                    height: 8px;
                    td {
                        padding: 0;
                        background-color: var(--t-table-accent-background-color);
                    }
                }
            }
            .tf-editor {
                //border: 1px solid red;
                padding: 0 !important;
                .te:not(.te-check) {
                    height: 33px;
                }

                input:not(.te-check),
                select,
                button {
                    border-radius: 0 !important;
                }
                button {
                    background-color: var(--bs-white) !important;
                    height: 100%;
                    margin: 0;
                    &:last-of-type {
                        border-right: none;
                    }
                }
                > * {
                    border: none;
                }
                .tc-input-group {
                    margin: 0px;
                    > * {
                        border-top: none;
                        border-bottom: none;
                    }
                }
                *:focus {
                    box-shadow: none;
                    border-color: var(--t-border-color);
                }
                .tl-stack {
                    padding: 0px 4px;
                }
                .te-combo {
                    font-size: var(--t-font-size) !important;
                    border: none !important;
                    border-radius: 0 !important;
                    height: 33px !important;
                }
            }
        }
    }
    > footer {
        border: 1px solid var(--footer-border-color);
        border: none;
        background-color: transparent;
    }
    .tb-table-searchbar {
        position: sticky;
        top: 0px;
        left: 0px;
        .tc-input-group {
            input:focus {
                outline: none;
                box-shadow: none;
                border-color: var(--t-border-color);
            }
            button {
                background-color: #f8f8f8;
                &:hover {
                    background-color: #e0e0e0;
                    border-color: var(--t-border-color);
                }
            }

            * {
                border-bottom: 0px;
            }
        }
    }
}
.tb-fill {
    max-height: 100%;
    overflow: auto;
    flex: 1 1 auto;
    /*border-top: 1px solid var(--t-border-color) !important;
    border-bottom: 1px solid var(--t-border-color) !important;*/
    table {
        border-collapse: separate;
        border-spacing: 0px;
        table-layout: fixed;
        border-left: 1px solid var(--t-border-color) !important;

        thead {
            position: sticky;
            top: 0px;
        }
        tr {
            border: none;
            border-left: 1px solid var(--t-border-color) !important;
            border-right: 1px solid var(--t-border-color) !important;
        }
        td,
        th {
            border: none;
            border-right: 1px solid var(--t-border-color) !important;
            border-bottom: 1px solid var(--t-border-color) !important;
        }
        tr:last-child {
            td {
                border-bottom: none !important;
            }
        }
    }
    .tb-table-searchbar {
        + .tb-table {
            thead {
                top: 37px;
            }
        }
        .tc-input-group {
            * {
                border-top: 0px;
                border-bottom: 1px solid var(--t-border-color);
            }
            .tb-input-group-append {
                border-bottom: none;
            }
        }
    }
}

.td-datagrid table {
    vertical-align: middle;
    table-layout: fixed;
    @extend .table;
    font-size: var(--t-font-size);
    thead {
        //background-color: var(--t-table-accent-background-color);
        th {
            i {
                margin-top: 4px !important;
            }
        }
        tr {
            border-bottom-width: 2px;
        }
    }
    .td-datagrid-group {
        font-weight: bold;
    }
    th,
    .td-datagrid-group {
        font-weight: 500;
        letter-spacing: 0.5px;
        //background-color: var(--t-table-accent-background-color);
    }

    tbody {
        tr {
            /*&:not(.tb-table-edit):hover {
                background-color: rgb(248, 248, 248) !important;
                td {
                    background-color: rgb(241, 241, 241) !important;
                    //background-blend-mode: multiply;
                }
            }*/
            td {
                i + span,
                img + span {
                    margin-left: 6px;
                }
            }
            &.tb-table-empty {
                text-align: center;
                color: #7e7e7e;
                font-size: 14px;
                &:hover {
                    background-color: #fff !important;
                    td {
                        background-color: #fff !important;
                    }
                }
            }
        }
        .tb-table-edit {
            background-color: #f8f8f8;
            select {
                padding: 0px 36px 0px 12px;
                font-size: 14px;
            }
            input,
            select {
                border: none;
                border-bottom: 2px solid #dedede;
            }
            input:focus,
            input:hover,
            select:focus,
            select:hover {
                border-bottom: 2px solid #307227;
                outline: none;
                box-shadow: none;
            }
            .tb-btn {
                padding: 0px 6px;
                border: none;
                i {
                    margin: 0px;
                }
                &:focus {
                    box-shadow: none;
                }
                &:hover {
                    background-color: #307227;
                    color: #fff;
                }
            }
        }
    }
    td,
    th {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .tbs-cell-icon {
        text-align: center;
    }
}

.tb-card-body {
    > .td-datagrid {
        margin: -12px;
        border: none;
        > table {
            margin-bottom: 0px;
        }
    }
}
.td-datagrid table > tbody.tf-active > tr > td,
table > tbody.tf-active > *,
table > tbody.tf-active > tr > td,
tbody > tr.tf-active,
.td-datagrid > section > table > tbody > tr.tf-active > td {
    background-color: var(--table-active-background-color);
    table,
    table tr,
    table tr td {
        background-color: var(--table-active-background-color);
    }
}

/* Editable */
.tb-inline-edit {
    border: none;
    padding: 0px 2px;
    font-size: 14px;
}

.td-datagrid-details {
    table {
        margin-bottom: 0px;
        tbody {
            &::after,
            &::before {
                height: 0;
            }
            tr {
                td {
                    &:first-of-type {
                        background: #fcfcfd;
                        font-size: var(--t-font-size);
                        color: #7d7d7d;
                        white-space: break-spaces;
                        line-height: 1.2;
                    }
                }
            }
        }
        tr {
            background-color: transparent !important;
            &:last-child {
                td {
                    border-bottom: none;
                }
            }
        }
    }
}
td.text-center a,
th.text-center a {
    display: flex;
    justify-content: center;
}

td.td-datagrid-expand,
th.td-datagrid-expand {
    /*border-left: 1px solid #7e7e7e;
    border-bottom: 1px solid #7e7e7e;
    padding: 0px 2px;*/
    text-overflow: unset !important;
    //background-color: var(--t-table-accent-background-color)!important;
    span {
        //border-left: 1px solid var(--t-border-color);
        font-size: var(--t-font-size);
        font-weight: bold;
        line-height: 1;
        margin-left: calc(14px * (1 + var(--data-level)) - 8px);
    }
}

.td-datagrid {
    td,
    th {
        border: none;
    }
    tr {
        border-top: 0;
    }
    header {
        padding: 0px;
        > .te-search{
            width: 100% !important;
            margin-left: 0px;
            margin-right: 0px;
        }

        ul.td-datagrid-gbp {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 12px;
            row-gap: 6px;
            li {
                display: flex;
                align-items: center;
                padding: 2px 8px;
                border: 1px solid #d1d1d1;
                background: #e7e7e7;
                flex-direction: row;
                font-weight: 500;
                &:first-child {
                    margin-left: 0px;
                }
                i {
                    float: none !important;
                    margin-left: 6px;
                }
            }
        }
    }
}

.td-datagrid-group-s {
    margin-left: 1rem !important;
    font-weight: normal !important;
    color: var(--bs-secondary);
    font-size: small !important;
}

td > i {
    vertical-align: middle;
    font-size: var(--t-font-size) !important;
}

.td-datagrid-details {
    padding: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.td-datagrid-toolbox {
    @extend .text-center;
    padding: 0 !important;
    line-height: 1;
    text-overflow: initial !important;
    button {
        padding: 2px 2px !important;
        display: inline-flex;
        margin: 0px 2px;
    }
}

.table > :not(caption) > * > *,
.td-datagrid table > :not(caption) > * > * {
    padding: 0.38rem !important;
}

tbody tr:last-child {
    border-bottom: 0;
}
td.td-datagrid-expand,
th,
tr,
thead,
th.td-datagrid-expand {
    background-color: transparent;
}
.td-datagrid header ul.td-datagrid-gbp li {
    background-color: transparent;
    border-radius: 3px;
}
.td-datagrid > section > table > tbody .td-datagrid-sr {
    background-color: transparent;
}

.td-datagrid:focus .tf-active td {
    background-color: #e6f2fa;
}

@media only screen and (max-width: 768px) {
    .td-datagrid-gbp {
        margin-bottom: calc(var(--tv-default-full-margin) / 2) !important;
    }
    .td-datagrid {
        tbody {
            border: 1px solid var(--t-border-color);
        }
        tbody tbody {
            border: none;
            & > tr:first-child {
                border-top: none;
            }
        }
        .td-datagrid-details {
            padding: 0 !important;
            border: 1px solid var(--t-border-color);
        }
        tbody tr {
            border: 1px solid var(--t-border-color);
            border-right: 0;
            border-left: 0;
        }
        .td-datagrid-expand {
            border-right: 1px solid var(--t-border-color);
        }
        tbody tbody tr:last-child {
            border-bottom: 0;
        }
        thead .td-datagrid-expand {
            border-right: none;
        }
    }
}

td:has(> img.rounded-circle) {
    padding: 0 6px !important;
}

tr,
tbody {
    position: relative;
}
tr[data-handle="-1"]:not(.tf-active)::after,
tbody[data-handle="-1"]:not(.tf-active)::after {
    content: "+ Dodaj nowy rekord";
    position: absolute;
    top: 6px;
    left: 40px;
    pointer-events: none;
    z-index: 1;
    color: rgb(130 130 130);
}
tbody[data-handle="-1"]:not(.tf-active)::after {
    left: 120px;
}
tr.tf-active:has(.tf-editor),
tbody.tf-active:has(.tf-editor) {
    border-bottom: 1px solid var(--t-border-color);
}

tr:not(.tf-active) > .td-datagrid-toolbox {
    //background-color: var(--bs-gray-100)!important;
}
tr[data-handle="-1"] {
    min-height: 38px;
}

@media only screen and (max-width: 768px) {
    .td-datagrid > section > table > tbody tr {
        background-color: transparent;
    }
    .td-datagrid-rs {
        border-left-color: #ffffff !important;
        border-right-color: #ffffff !important;
    }
    .td-datagrid-rs * {
        border-left-color: #ffffff !important;
        border-right-color: #ffffff !important;
    }
    .td-datagrid-rs td {
        height: 24px;
    }
    .td-datagrid-details table tbody tr td:first-of-type,
    html[data-bs-theme="dark"] .td-datagrid-details table tbody tr td:first-of-type {
        background-color: transparent;
    }

    .td-datagrid > section > table {
        --t-background-color: rgb(250 250 250) !important;
    }
    .td-datagrid > section > table > tbody {
        box-shadow: none !important;
    }

    html[data-bs-theme="dark"] .td-datagrid {
        .td-datagrid-rs {
            border-left-color: var(--content-background-color) !important;
            border-right-color: var(--content-background-color) !important;
        }
        .td-datagrid-rs * {
            border-left-color: var(--content-background-color) !important;
            border-right-color: var(--content-background-color) !important;
        }
    }
    html[data-bs-theme="dark"] .td-datagrid > section > table > tbody tr,
    html[data-bs-theme="dark"] .td-datagrid > section > table > thead tr,
    html[data-bs-theme="dark"] .td-datagrid > section > table {
        background-color: rgb(30, 30, 30) !important;
    }
    html[data-bs-theme="dark"] .td-datagrid > section > table > tbody .td-datagrid-sr {
        background-color: rgb(30, 30, 30) !important;
    }
}


td > a{
    display: block;
}

tr:has(> .tf-editor) > td{
    vertical-align: middle!important;
}

@media only screen and (min-width: 767px) {
    html[data-ui-mode=mini] .td-datagrid table > :not(caption) > * > td.tf-editor {
    padding:0!important;
    }
}

tbody tr[data-handle] td:not([readonly]):not(.td-datagrid-toolbox) {
    cursor:text;
}
tbody tr[data-handle] td:not([readonly]):not(.td-datagrid-toolbox):has(input) {
    cursor:default;
}

button[disabled]{
    border: transparent!important;
}
