.te-tags {
  display: flex!important;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 33px;
  height: auto;
  padding: 0px!important;
  .tc-input-group {
    flex: 1 1;
    flex-wrap: nowrap;
    input{
      &:focus{
        box-shadow: none;
      }
    }
  }
  .te-tags-item {
    margin: 4px 0px;
    margin-left: 4px;
    background-color: var(--nav-item-color);
    display: flex;
    align-items: center;
    border-radius: var(--bs-border-radius);
    padding: 0;
    > * {
      margin: 0px 4px;
    }
    button{
      padding: 0;
    }
  }
}

.te-tags-editor {
  min-width: 90px;
}
.te-tags .tc *,
.te-tags .te {
  border: 0 !important;
  box-shadow: none;
}
.te-tags .te {
  flex: 1 1;
}
.te-tags .tc .te {
  height: 33px;
}
