/* Workspace */
.tc-workspace {
    position: relative;
    height: 100%;
}

.tc-workspace-bs {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.tc-workspace-gr {
    height: 100%;
    width: 100%;
    display: flex;
}
.tc-workspace-gr-v {
    flex-direction: column;
}
.tc-workspace-gr-h {
    flex-direction: row;
}
.tc-workspace-sp {
    padding: 0;
    z-index: 100;
}
.tc-workspace-sp-v {
    height: 10px;
    width: 100%;
    cursor: ns-resize;
}
.tc-workspace-sp-h {
    flex-direction: 1 0 auto;;
    width: 10px;
    margin: 0;
    cursor: ew-resize;
}
.tc-workspace .tbs-pc {
    display: flex;
    flex-direction: column;
}
.tbs-pc-h {
    flex: 1 0 auto;
    overflow: hidden;
    overflow-x: scroll;
}
.tbs-pc-h::-webkit-scrollbar {
    display: none;
}
.tbs-pc-c {
    z-index: 1;
}
.tc-workspace .tbs-pc .tbs-pc-c {
    flex: 1 1 auto;
}
.tbs-pc-nv {
    width: max-content;
}
.tbs-pc-nv-it .tf-topactive {
    font-weight: bold;
}
.tbs-pc-nv-it {
    margin-bottom: 0px !important;
}


.tc-workspace {
    .dragging {
        box-shadow: none !important;
        z-index: 1002;
        background-color: #007bff !important;
        color: white !important;
    }
    li.tf-active.dragging{
        background-color: #007bff !important;
        color: white !important;
        a{
            color: rgb(255, 255, 255) !important;
            background-color: inherit!important;
        }
    }
    .dragging-over,
    li.tf-active.dragging-over{
        background-color: #73b7ff !important;
        a{
            color: white !important;
            background-color: #73b7ff!important;
            background: #73b7ff!important;
        }
    }

    section > .tc-tabs.tf-noborder{
        margin-top: -12px!important;
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: -16px;
    }
}

section:has(>.tc-workspace){
    background-color: #f5f7fa;
}
.tc-workspace:has(>.tc-tabs){
    .tc-tabs .tc-tabs{
        margin-top: 12px;
    }
}

.tc-workspace.tf-nofloat:has(>.tc-tabs){
    padding: 0px;
    > .tc-tabs{
        &::after{
            height: 0;
            border-radius: 0;
            border-bottom: none;
        }
        >header{
            border-radius: 0;
            border-left: none;
            border-top: none;
            border-right: none;
        }
        >section{
            border-left: none;
            border-right: none;
        }
        .tc-tabs{
            margin-top: 12px;
        }
    }
}




.tc-workspace{
    .tc-workspace-it{
        .tc-tabs{
            .tc-tabs{
                margin-top: 12px;
            }
        }
    }
}


@media only screen and (max-width: 1360px) {
    .tc-workspace{
        padding: 0px!important;
        > .tc-tabs{
            &::after{
                height: 0;
                border-radius: 0;
                border-bottom: none;
            }
            >header{
                border-radius: 0;
                border-left: none;
                border-top: none;
                border-right: none;
            }
            >section{
                border-left: none;
                border-right: none;
            }
            .tc-tabs{
                margin-top: 12px;
            }
        }
    }
}



