:root {
    --tv-ribbon-tabs-h: 45px;
    --tv-ribbon-status-h: 32px;
    --tv-window-bar-h: 40px;

    --ts-height: 100vh;

    --t-body-color: var(--bs-gray-100);


    --t-border-color: var(--bs-border-color); //base-border-color
    --t-border-radius: 5px; // var(--bs-border-radius); //base-border-radius

    --t-content-padding: 12px 16px;
    --t-background-color: var(--bs-gray-100);
    --t-table-accent-background-color: var(--bs-white);

    --t-font-size: 14px;
    --t-font-size-small: 12px; //calc(var(--t-font-size) * 0.7)
    --tv-font-size-large: 2rem;

    --t-font-color: var(--bs-gray-dark);
    --t-font-color-light: var(--bs-gray-700);

    --t-font-weight: normal;
    --t-font-weight-bold: bold;

    --bs-body-font-size: var(--t-font-size);
    --modal-radius: var(--t-border-radius); //Max 30px

    --nav-width: 250px;


    --nav-background-color: var(--bs-gray-100);

    --nav-item-color: var(--bs-gray-200);
    --nav-item-color-hover: var(--bs-code-color);
    --nav-item-padding: 3px 2px 3px 12px;
    --nav-font-size: var(--t-font-size);

    --content-background-color: var(--bs-white);

    --ribbon-link-color: var(--bs-gray-100);

    --tabs-nav-link-color: var(--bs-code-color);
    --tabs-nav-link-active-color: var(--bs-code-color);
    --tabs-nav-padding: 12px 16px;
    --tabs-font-size: var(--t-font-size);
    --tabs-body-background: var(--t-background-color);

    --table-border-color: var(--t-border-color);

    --footer-border-color: var(--t-border-color);

    --scheduler-background:var(--bs-gray-100);

    --button-border-radius: var(--t-border-radius);

    --table-active-background-color: var(--bs-gray-100);
}
.tb-card {
    --bs-card-inner-border-radius: var(--t-border-radius);
    --bs-card-border-radius: var(--t-border-radius);
}
.tf-fs-small{
    font-size: var(--t-font-size-small);
}

.tf-fs-large{
    font-size: var(--tv-font-size-large);
}


